@import url(//db.onlinewebfonts.com/c/0d5f8cc3c1312e1f7c94b4ccf48733c0?family=Netflix+Sans+Icon);

body {
  background: #141414;

  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.movie-img-div {
  border: 2px solid #141414;
}

.movie-img {
  height: 200px;
  width: 200px;
  border-radius: 3px;
}

.netflix-logo {
  color: #e50914;
}
